<nav class="w-screen h-16 px-40 bg-zinc-50 flex justify-between">
  <div class="flex items-center h-full">
    <svg
      class="h-10 w-10"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="#e53935"
        d="M9.87 2.5L3.022 5.666l.645 10.178zm4.26 0l6.202 13.344l.645-10.178zM12 7.563l-2.451 5.964h4.906zm-3.73 8.959l-.954 2.308L12 21.5l4.683-2.67l-.953-2.308z"
      />
    </svg>
    <h2 class="ml-1 text-2xl font-bold">MiComponente</h2>
  </div>
  <ul class="flex items-center">
    <li class="mx-3">
      <a
        class="text-xl p-2 hover:bg-zinc-200 hover:shadow-sm shadow-zinc-300 rounded-xl cursor-pointer duration-300 ease-in-out transition-all"
        routerLink=""
        >Home</a
      >
    </li>
    <li class="mx-3">
      <a
        class="text-xl p-2 hover:bg-zinc-200 hover:shadow-sm shadow-zinc-300 rounded-xl cursor-pointer duration-300 ease-in-out transition-all"
        routerLink="/contador"
        >Contador</a
      >
    </li>
    <li class="mx-3">
      <a
        class="text-xl p-2 hover:bg-zinc-200 hover:shadow-sm shadow-zinc-300 rounded-xl cursor-pointer duration-300 ease-in-out transition-all"
        routerLink=""
        >Placeholder</a
      >
    </li>
    <li class="mx-3">
      <a
        class="text-xl p-2 hover:bg-zinc-200 hover:shadow-sm shadow-zinc-300 rounded-xl cursor-pointer duration-300 ease-in-out transition-all"
        routerLink=""
        >Placeholder</a
      >
    </li>
  </ul>
</nav>
