<section class="my-8 flex flex-col items-center">
  <h2 class="font-bold text-center text-2xl">Hola desde contador.</h2>
  <div class="my-4 flex gap-4 items-center">
    <button
      (click)="incrementar()"
      class="cursor-pointer bg-cyan-500 hover:bg-cyan-600 p-4 text-white rounded-lg"
    >
      Aumentar
    </button>
    <h6 class="text-lg p-6 bg-gray-200 rounded-lg">
      Contador:
      <span class="font-bold" [ngClass]="contador < 0 ? 'text-red-500' : 'text-black'">{{
        contador
      }}</span>
    </h6>
    <button
      (click)="decrementar()"
      class="cursor-pointer bg-cyan-500 hover:bg-cyan-600 p-4 text-white rounded-lg"
    >
      Disminuir
    </button>
    <button
      (click)="reiniciar()"
      class="cursor-pointer bg-cyan-500 hover:bg-cyan-600 p-4 text-white rounded-lg"
    >
      Reiniciar
    </button>
  </div>
</section>
